In [1]:
import pandas as pd
from statsmodels.stats.anova import AnovaRM
import os
import numpy as np
from Globals import *

In [2]:
os.chdir('/Volumes/Media/毕业论文/实验一_分析/One_Third_split/evks_csv/Amp&Latency/')

In [ ]:
# PART 1
### REFORMAT THE DATA
data = pd.read_csv('N170_LAT_1_3.csv', index_col= 0)
REFORMAT_DATA = pd.DataFrame(columns=['number', 'Hemisphere', 'Condition', 'PART','LAT'])
for sub in data.index:
    for col in data.columns:
        for cond in condition_list:
            if cond in str(col):
                Condition = cond
        if 'Left' in str(col):
            Hemisphere = 'Left'
        elif 'Right' in str(col):
            Hemisphere = 'Right'
        LAT = data.loc[sub][col]
        ### PART ⬇️
        PART = 1
        number = sub
    
        REFORMAT_DATA.loc[len(REFORMAT_DATA.index)] = [number,Hemisphere,Condition,PART,LAT]

In [ ]:
os.chdir('Reformat_for_Scripts')
REFORMAT_DATA.to_csv('N170_1_3_LAT.csv')

In [ ]:
# PART 2

### REFORMAT THE DATA
os.chdir('/Volumes/Media/毕业论文/实验一_分析/One_Third_split/evks_csv/Amp&Latency/')
data = pd.read_csv('N170_LAT_2_3.csv', index_col= 0)


REFORMAT_DATA = pd.DataFrame(columns=['number', 'Hemisphere', 'Condition', 'PART','LAT'])
for sub in data.index:
    for col in data.columns:
        for cond in condition_list:
            if cond in str(col):
                Condition = cond
        if 'Left' in str(col):
            Hemisphere = 'Left'
        elif 'Right' in str(col):
            Hemisphere = 'Right'
        LAT = data.loc[sub][col]
        ### PART ⬇️
        PART = 2
        number = sub
    
        REFORMAT_DATA.loc[len(REFORMAT_DATA.index)] = [number,Hemisphere,Condition,PART,LAT]


os.chdir('Reformat_for_Scripts')
REFORMAT_DATA.to_csv('N170_2_3_LAT.csv')

In [3]:

import pingouin as pg
os.chdir('/Volumes/Media/毕业论文/实验一_分析/One_THird_split/evks_csv/Amp&Latency/Reformat_for_Scripts')
data_part1 = pd.read_csv('N170_1_3_LAT.csv', index_col= 0)
data_part2 = pd.read_csv('N170_2_3_LAT.csv', index_col= 0)

In [4]:
concated_data = pd.concat([data_part1,data_part2], axis = 0)

In [5]:
concated_data.to_csv('N170_LAT_OTS_3Split.csv')

In [ ]:
# RE FORMAT DATA

concated_data.reset_index(drop= True, inplace = True)
concated_data['Grouped_Condition'] = 'DEFAULT'
for ind in concated_data.index:
    if 'OtherFace_' in str(concated_data.iloc[ind,2]):
        concated_data.at[ind,'Grouped_Condition'] = 'OtherFace'
    if 'Own' in str(concated_data.iloc[ind,2]):
        concated_data.at[ind,'Grouped_Condition'] = 'OwnFace'
    if 'Joe' in str(concated_data.iloc[ind,2]):
        concated_data.at[ind,'Grouped_Condition'] = 'JoeFace'

In [ ]:
OTHER_DATA = concated_data[concated_data['Grouped_Condition'] == 'OtherFace']

In [ ]:
OTHER_avged_data = pd.DataFrame(columns= ['number','Hemisphere', 'Condition', 'PART', 'AMP', 'Grouped_Condition'])
for sub in OTHER_DATA.number.value_counts().index:
    sub_data = OTHER_DATA[OTHER_DATA['number'] == sub]

    
    PART1_data = sub_data[sub_data['PART'] == 1]
    PART2_data = sub_data[sub_data['PART'] == 2]

    ### THE LEFT DATA OF PART 1 AND 2
    PART1_sub_left_mean = PART1_data[PART1_data['Hemisphere'] == 'Left'].AMP.mean()
    PART2_sub_left_mean = PART2_data[PART2_data['Hemisphere'] == 'Left'].AMP.mean()
    Hemisphere = 'Left'
    Condition = 'OtherFace'
    OTHER_avged_data.loc[len(OTHER_avged_data.index)] = [sub, Hemisphere, Condition, '1', PART1_sub_left_mean,'OtherFace']
    OTHER_avged_data.loc[len(OTHER_avged_data.index)] = [sub, Hemisphere, Condition, '2', PART2_sub_left_mean,'OtherFace']

    ### THE RIGHT DATA OF PART 1 AND 2
    PART1_sub_right_mean = PART1_data[PART1_data['Hemisphere'] == 'Right'].AMP.mean()
    PART2_sub_right_mean = PART2_data[PART2_data['Hemisphere'] == 'Right'].AMP.mean() 
    Hemisphere = 'Right'
    Condition = 'OtherFace'
    OTHER_avged_data.loc[len(OTHER_avged_data.index)] = [sub, Hemisphere, Condition, '1', PART1_sub_right_mean,'OtherFace']
    OTHER_avged_data.loc[len(OTHER_avged_data.index)] = [sub, Hemisphere, Condition, '2', PART2_sub_right_mean,'OtherFace']

In [ ]:
OTHER_avged_data

In [ ]:
concated_data.drop(concated_data[concated_data['Grouped_Condition'] == 'OtherFace'].index, inplace= True)

In [ ]:
pd.concat([concated_data, OTHER_avged_data]).to_csv('N250_HS_3COND.csv')

In [6]:
concated_data

     number Hemisphere     Condition  PART    LAT
0         0       Left   OtherFace_1     1  171.5
1         0      Right   OtherFace_1     1  153.5
2         0       Left   OtherFace_2     1  189.0
3         0      Right   OtherFace_2     1  157.5
4         0       Left   OtherFace_3     1  171.5
..      ...        ...           ...   ...    ...
787      32      Right  OtherFace_10     2  143.5
788      32       Left       OwnFace     2  133.0
789      32      Right       OwnFace     2  141.5
790      32       Left       JoeFace     2  153.0
791      32      Right       JoeFace     2  145.0

[1584 rows x 5 columns]

In [7]:
OTHER_data = concated_data[concated_data['Condition'] == 'OtherFace_1']

In [8]:
Joe_data = concated_data[concated_data['Condition'] == 'JoeFace']
Own_data = concated_data[concated_data['Condition'] == 'OwnFace']

In [9]:
Other_1_3COND = pd.concat([OTHER_data, Joe_data, Own_data])

In [10]:
Other_1_3COND.to_csv('N170_LAT_OTS_O1_R.csv')

In [11]:
Other_1_3COND.Condition.value_counts()

OtherFace_1    132
JoeFace        132
OwnFace        132
Name: Condition, dtype: int64

In [12]:
Other_1_3COND

     number Hemisphere    Condition  PART    LAT
0         0       Left  OtherFace_1     1  171.5
1         0      Right  OtherFace_1     1  153.5
24        1       Left  OtherFace_1     1  138.5
25        1      Right  OtherFace_1     1  143.0
48        2       Left  OtherFace_1     1  172.5
..      ...        ...          ...   ...    ...
741      30      Right      OwnFace     2  132.5
764      31       Left      OwnFace     2  149.0
765      31      Right      OwnFace     2  150.0
788      32       Left      OwnFace     2  133.0
789      32      Right      OwnFace     2  141.5

[396 rows x 5 columns]